<!--
  Generated template for the CategoryFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--
  Page with 2 input fields that allows you to filter tasks by different Categories

-->

<ion-header>

  <ion-navbar color="page1nav">
    <ion-title>
      <span text-color="title"> Select Categories</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="home">
  <ion-item>
    <ion-label>Categories</ion-label>
    <ion-select [(ngModel)]="categories" multiple="true">
      <ion-option *ngFor="let category of categories" [value]="category.Name">{{category.Name}}</ion-option>
    </ion-select>
  </ion-item>
  <button ion-button color="page1buttons" (click)="closePage()"> Filter</button>
</ion-content>
