<!--
  Generated template for the AddCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Page that allows users to add a new category

-->
<ion-header>
  <ion-navbar color="page1nav">
    <ion-grid>
      <ion-row>
        <ion-col col-auto>
          <ion-buttons start>
            <button ion-button color="page1buttons" (click)="closeModal()" round icon-only><ion-icon name="close"></ion-icon></button>
          </ion-buttons>
        </ion-col>
        <ion-col col-5>
          <ion-title>
            <span text-color="title"> Add New Category</span>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-item>
    <ion-label>Category Name</ion-label>
    <ion-input type="text" [(ngModel)]="category.Name" name="name"></ion-input>
  </ion-item>
  <button ion-button color="page1buttons"(click)="addCategory()">Add Category</button>
</ion-content>
