<!--
  Generated template for the FilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="page1nav">
    <ion-title>
      <span text-color="title"> Select Times</span>
    </ion-title>
  </ion-navbar>

</ion-header>

<!--
  Used by the home page to allow a user to select 2 times to filter between
-->

<ion-content padding class="home">
  <ion-item>
    <ion-label>Min Time</ion-label>
    <ion-datetime displayFormat="MM-DD-YYYY HH:mm" [(ngModel)]="times.minTime" min="2018" max="2030-12-31" name="time"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Max Time</ion-label>
    <ion-datetime displayFormat="MM-DD-YYYY HH:mm" [(ngModel)]="times.maxTime" min="2018" max="2030-12-31" name="time"></ion-datetime>
  </ion-item>
  <button color="page1buttons"ion-button round (click)="closePage()">return</button>
</ion-content>
