page-home {

  font-size: 25px;
}

ion-navbar {
  


}
ion-title {
  color: #ffd800;
  font-family: 'righteous';
}
.toolbar-title {
  color: #ffd800;
  font-family: 'righteous';
}

.toolbar-title-md {
  color: #ffd800;
  font-family: 'righteous';
}
.home{
  background-color: #2b2828;
}

button{
  
}

[text-color="title"] {
  color: #ffd800;
}
.item {
  margin-bottom: 10px;
}



