<!--

  HOME PAGE
    Allows users to add tasks, edit tasks, sort tasks and filter tasks

-->

<ion-header>
  <ion-navbar text-center color="page1nav">
    <ion-title>
      <span text-color="title"> Task'd</span>
    </ion-title>


  </ion-navbar>
</ion-header>

<ion-content class="home">
  <ion-list no-lines>
    <ion-item *ngFor="let task of tasks" color="listitems">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1><b>Task:</b>{{task.Name}}</h1>

            <h2>Category: {{task.CategoryName}}</h2>
            <h2>Time Due: {{task.Time | date: 'EEEE yyyy/mm/dd hh:mm:ss'}}</h2>
          </ion-col>

        </ion-row>
        <ion-row>
            <ion-col no-padding>
              <ion-buttons start>
                <button ion-button color="page1buttons" (click)="deleteTask(task)" round icon-only><ion-icon name="close"></ion-icon></button>
                <button ion-button color="page1buttons" (click)="editTask(task)" round icon-only><ion-icon name="ios-create"></ion-icon></button>
              </ion-buttons>
            </ion-col>
        </ion-row>
      </ion-grid>
     

    </ion-item>
  </ion-list>
</ion-content>



<ion-footer >
  <ion-navbar color="page1nav" no-padding>
    <ion-grid>
      <ion-row aligh-items-center>
        <ion-col style="text-align:left">
          <button ion-button color="page1buttons" round icon-only (click)="launchAddTaskModal()"><ion-icon name="add-circle"></ion-icon></button>
        </ion-col>
        <ion-col style="text-align:center">
          <button ion-button color="page1buttons" round icon-only (click)="timeFilter()"><ion-icon name="clock"></ion-icon></button>
        </ion-col>
        <ion-col style="text-align:center">
          <button ion-button color="page1buttons" round icon-only (click)="categoryFilter()"><ion-icon name="md-list"></ion-icon></button>
        </ion-col>
        <ion-col style="text-align:right">
          <button ion-button color="page1buttons" round icon-only (click)="sortTasks()"><ion-icon name="shuffle"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-footer>
