<!--
  Generated template for the EditTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!--
  Page that allows a user to edit a selected task  

-->
<ion-header>

  <ion-navbar color="page1nav">
    <ion-grid>
      <ion-row>
        <ion-col col-auto>
          <ion-buttons start>
            <button ion-button color="page1buttons" (click)="closeModal()" round icon-only><ion-icon name="close"></ion-icon></button>
          </ion-buttons>
        </ion-col>
        <ion-col col-5>
          <ion-title>

            <span text-color="title"> Edit Task</span>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content padding class="home">
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" [(ngModel)]="task.Name" name="name"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-buttons start>
          <button ion-button color="page1buttons" (click)="launchAddCategoryModal()" round icon-only><ion-icon name="add-circle"></ion-icon></button>
        </ion-buttons>
      </ion-col>
      <ion-col col-10>
        <ion-item>
          <ion-label no-padding>Category</ion-label>
          <ion-select [(ngModel)]="task.CategoryName" name="category" no-padding>
            <ion-option *ngFor="let category of categories" [value]="category.Name">{{category.Name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>


    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label>Time Due</ion-label>
        <ion-datetime displayFormat="MM-DD-YYYY HH:mm" [(ngModel)]="task.Time" min="2018" max="2030-12-31" name="time"></ion-datetime>
      </ion-item>
    </ion-row>


    <button ion-button (click)="editTask()" color="page1buttons" block>Edit Task</button>
  </ion-grid>
</ion-content>
